:root {
    /* HTML UI styling */
    --bg-color: #1e1e24;
    --ui-text-color: #f5f5f7;
    
    --button: #2d3139;
    --button-hover: #373c46;
    --button-active: #1b1c20;
    --button-border-selected: #ff3355; 

}

* {
    font-family: 'Courier New', Courier, monospace;
    color: var(--ui-text-color)
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--bg-color);
}

main {
    margin: 20px;

    display: flex;
    flex-direction: column;
}

#title_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title_container #title {
    width: 100%;
    text-align: center;
}

/* Demo window */

.demo_container {
    width: 100%;
    display: flex;
    justify-content: center;

    box-sizing: border-box;
}

.demo_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
}

#canvas {
    outline: 1px solid white;
}


/* Menu controls */

.controls {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    border: 1px solid white;
}

.menu_row {
    margin: 0;
    width: 100%;
    display: flex;
}

.controls p {
    /* font-size: 20px; */
    margin: 0;
    margin-top: 10px;
    height: 50px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    /* text-decoration: underline; */
}

.menu_row button {
    height: 60px;
    box-sizing: border-box;
    border: none;
    margin: 0;

    flex: 1;

    font-size: 16px;

    cursor: pointer;

    color: var(--ui-text-color);
    background-color: var(--bg-color);
}

.menu_row button:hover {
    background-color: var(--button-hover);
}

.menu_row button:active {
    background-color: var(--button-active);
}

.menu_row button.selected {
    border: 2px solid var(--button-border-selected);
}