:root {
    /* HTML UI styling */
    --bg-color: #1e1e24;
    --ui-text-color: #f5f5f7;
    --button-accent: #ffb74d;
    
}

* {
    font-family: 'Courier New', Courier, monospace;
    color: var(--ui-text-color)
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--bg-color);
}

main {
    margin: 20px;

    display: flex;
    flex-direction: column;
}

#title_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title_container #title {
    width: 100%;
    text-align: center;
}

/* Demo window */

.demo_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
}

#canvas {
    outline: 1px solid white;
}